#bgAtras {
  border: solid 1px;
  border-top: none;
  border-color: black;
  min-width: 720px;
  max-width: 720px;
  box-shadow: 1px 15px 20px 1px rgb(200, 200, 200);
  background-color: rgb(250, 236, 219);
}
#bgEnmedio {
  border: solid 1px;
  border-top: none;
  border-color: black;
  min-width: 725px;
  max-width: 725px;
  background-color: rgb(250, 236, 219);
}
#bgAdelante {
  border: solid 1px;
  border-color: black;
  min-width: 730px;
  max-width: 730px;
  background-color: rgb(250, 236, 219);
}

.task-item-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  opacity: 0;
  transition: opacity 0.3s;
  border: none;
  background-color: rgb(250, 236, 219);
  font-size: 25px;
  color: rgb(173, 173, 173);
}

.deleteAll-btn {
  border: none;
  background-color: rgb(250, 236, 219);
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.task-item-wrapper:hover .close-btn {
  opacity: 1;
}

#inputPost {
  border: solid 1px rgb(255, 247, 237);
  background-color: rgb(255, 247, 237);
}
.playwrite  {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


